<div class="container">
  <div class="left-panel"></div>

  <div class="center-panel">
    <h2>Clientes</h2><br>
    <form (ngSubmit)="onSubmit(clienteForm)" #clienteForm="ngForm" class="form">
      <div class="form-row">
        <div class="form-group">
          <label for="dui">DUI:</label>
          <input [(ngModel)]="cliente.dui" name="dui" id="dui" required #dui="ngModel">
          <div *ngIf="dui.invalid" class="error">
            <small *ngIf="dui.errors?.['required']">El DUI es requerido.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="sexo">Sexo:</label>
          <select [(ngModel)]="cliente.sexo" name="sexo" id="sexo" required #sexo="ngModel">
            <option value="M">Masculino</option>
            <option value="F">Femenino</option>
          </select>
          <div *ngIf="sexo.invalid" class="error">
            <small *ngIf="sexo.errors?.['required']">El sexo es requerido.</small>
          </div>
        </div>
      </div>
    
      <div class="form-row">
        <div class="form-group">
          <label for="nit">NIT:</label>
          <input [(ngModel)]="cliente.nit" name="nit" id="nit" required #nit="ngModel">
          <div *ngIf="nit.invalid" class="error">
            <small *ngIf="nit.errors?.['required']">El NIT es requerido.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="actividadEconomica">Actividad Económica:</label>
          <select [(ngModel)]="cliente.actividadEconomica.id" name="actividadEconomica" id="actividadEconomica" required #actividadEconomica="ngModel">
            <option *ngFor="let actividad of actividadesEconomicas" [value]="actividad.id">
              {{ actividad.descripcion }}
            </option>
          </select>
          <div *ngIf="cliente.actividadEconomica.id==0" class="error">
            <small>La actividad económica es requerida.</small>
          </div>
        </div>
      </div>
    
      <div class="form-row">
        <div class="form-group">
          <label for="nombres">Nombres:</label>
          <input [(ngModel)]="cliente.nombres" name="nombres" id="nombres" required #nombres="ngModel">
          <div *ngIf="nombres.invalid" class="error">
            <small *ngIf="nombres.errors?.['required']">Los nombres son requeridos.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="estadoCivil">Estado Civil:</label>
          <select [(ngModel)]="cliente.estadoCivil.id" name="estadoCivil" id="estadoCivil" required #estadoCivil="ngModel">
            <option *ngFor="let estados of estadosCiviles" [value]="estados.id">
              {{ estados.descripcion }}
            </option>
          </select>
          <div *ngIf="cliente.estadoCivil.id==0" class="error">
            <small>El estado civil es requerido.</small>
          </div>
        </div>
      </div>
    
      <div class="form-row">
        <div class="form-group">
          <label for="apellidos">Apellidos:</label>
          <input [(ngModel)]="cliente.apellidos" name="apellidos" id="apellidos" required #apellidos="ngModel">
          <div *ngIf="apellidos.invalid" class="error">
            <small *ngIf="apellidos.errors?.['required']">Los apellidos son requeridos.</small>
          </div>
        </div>
        <div class="form-group-btn">
          <button type="submit" class="btn" [disabled]="clienteForm.invalid">Guardar</button>
          <button (click)="resetForm()" class="btn-reset">Reset</button>
        </div>
      </div>
    </form> 
    <div class="error">{{errorMessage}}</div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>ID Cliente</th>
            <th>DUI</th>
            <th>NIT</th>
            <th>Nombre Cliente</th>
            <th>Sexo</th>
            <th>Actividad Económica</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.dui }}</td>
            <td>{{ cliente.nit }}</td>
            <td>{{ cliente.nombres }} {{ cliente.apellidos }}</td>
            <td>{{ cliente.sexo === 'M' ? 'Masculino' : (cliente.sexo === 'F' ? 'Femenino' : '') }}</td>
            <td>{{ cliente.actividadEconomica.descripcion }}</td>
            <td>
              <button (click)="editCliente(cliente)" class="btn">Modificar</button>
              <button (click)="viewSolicitudes(cliente.id!)" class="btn">Solicitudes</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="right-panel"></div>
</div>